html, body {
  margin: 0;
  padding: 0;
   width: 100%;
  overflow-x: hidden;
}

.app {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* This is the missing piece */
.page_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}
